<div class="mainwindow">
    <div class="content_window">        
        <h2>Contratação de Bens</h2>
        <hr>  
        <form id="formp" method="post" >          
            <div>
            <label>Objeto do processo:</label>
            <input type="text" name="object" class="longtext" id="object">
            </div>
            <div>
                <label>Nup:</label>
                <input type="text" name="nup" id="nup">
            </div>
            <div>
                <label>Nº do Diex Req.:</label>                
                <input type="text" name="diexreq" id="diexreq" class="smalltext">
                <small>Número informado pela seção DPGOT</small>
            </div>        
            <hr>
            <div>
                <label>Origem do Processo:</label>
                <select name="dvname">
                    <option value="Divisão Industrial">Divisão Industrial</option>
                    <option value="Divisão de Inovação e Tecnologia">Divisão de Inovação e Tecnologia</option>
                </select>
            </div>
            <div>
                <label>Seção de Destino da Aquisição:</label>
                <select name="sector">
                    <option value="Seção Linha de Blindados">Linha de Blindados</option>
                    <option value="Seção de Armamento Pesado">Armamento Pesado</option>
                    <option value="Seção de Armamento Leve">Armamento Leve</option>
                    <option value="Seção de Tratamento Superficial">STS</option>
                    <option value="Seção de Correaria">Correaria</option>
                    <option value="Seção de Ótica">Ótica</option>                    
                    <option value="">Divisão Industrial</option>
                    <option value="">Divisão de Inovação e Tecnologia</option>
                </select>
            </div>
            <div>
                <label>Tipo do processo</label>
                <select name="process">
                    <option value="0">Pregão Eletrônico</option>
                    <option value="1">Dispensa Eletrônica</option>
                </select>
            </div>            
            <div>
                <label>Forma de aquisição</label>
                <select name="acquisition">
                    <option value="T">Tradicional</option>
                    <option value="S">SRP</option>
                </select>
            </div>
            <div>
                <label>Porcesso possuí produtos perecíveis?</label>
                <select name="perish">
                    <option value="false">Não</option>
                    <option value="true">Sim</option>
                </select>
            </div>
            <hr>
            <div>
                <div class="display-flex-start">
                    <div>
                        <label>Responsável pela Confecção: </label>
                        <input type="text" name="resp" id="resp" class="mediumtext">
                    </div>
                    <div>
                        <label>Post/Grad: </label>
                        <select name="resppg">
                            <option value="0"></option>
                            <option value="Cel">Cel</option>
                            <option value="Tc">Tc</option>
                            <option value="Maj">Maj</option>
                            <option value="Cap">Cap</option>
                            <option value="1º Ten">1º Ten</option>
                            <option value="2º Ten">2º Ten</option>
                            <option value="Asp">Asp</option>
                            <option value="S Ten">S Ten</option>
                            <option value="1º Sgt">1º Sgt</option>
                            <option value="2º Sgt">2º Sgt</option>
                            <option value="3º Sgt">3º Sgt</option>
                            <option value="Cb">Cb</option>
                        </select>
                    </div>
                </div>
                <label>Cargo/Função: </label>
                <input type="text" name="role" id="role" class="mediumtext">
            </div>       
            <hr>
            <div>
                <div class="display-flex-start">
                    <div>
                        <label>Chefe da Divisão: </label>
                        <input type="text" name="chdvname" id="chdvname" class="mediumtext">
                    </div>
                    <div>
                        <label>Post/Grad: </label>
                        <select name="chdvpg">
                            <option value="0"></option>
                            <option value="Cel">Cel</option>
                            <option value="Tc">Tc</option>
                            <option value="Maj">Maj</option>
                            <option value="Cap">Cap</option>
                            <option value="1º Ten">1º Ten</option>
                            <option value="2º Ten">2º Ten</option>
                            <option value="Asp">Asp</option>
                            <option value="S Ten">S Ten</option>
                            <option value="1º Sgt">1º Sgt</option>
                            <option value="2º Sgt">2º Sgt</option>
                            <option value="3º Sgt">3º Sgt</option>                                    
                        </select>
                    </div>
                </div>           
            </div>
            <hr>
            <div>
                <div class="display-flex-start">
                    <div>
                        <label>Fiscal Administrativo: </label>
                        <input type="text" name="fiscalname" id="fiscalname" class="mediumtext">
                    </div>
                    <div>
                        <label>Post/Grad: </label>
                        <select name="fiscalpg">
                            <option value="0"></option>
                            <option value="Cel">Cel</option>
                            <option value="Tc">Tc</option>
                            <option value="Maj">Maj</option>
                            <option value="Cap">Cap</option>
                            <option value="1º Ten">1º Ten</option>
                            <option value="2º Ten">2º Ten</option>                                    
                        </select> 
                    </div>               
                </div>                    
            </div>
            <hr>
            <div>
                <div class="display-flex-start">
                    <div>
                        <label>Chefe do Suprimento: </label>
                        <input type="text" name="chsupname" id="chsupname" class="mediumtext">
                    </div>
                    <div>
                        <label>Post/Grad: </label>
                        <select name="chsuppg">
                            <option value="0"></option>
                            <option value="Cel">Cel</option>
                            <option value="Tc">Tc</option>
                            <option value="Maj">Maj</option>
                            <option value="Cap">Cap</option>
                            <option value="1º Ten">1º Ten</option>
                            <option value="2º Ten">2º Ten</option>                                    
                        </select>
                    </div>
                </div>                          
            </div>
            <hr>
            <div>
                <div class="display-flex-start">
                    <div>
                        <label>Ordenador de Despesas: </label>
                        <input type="text" name="cmdname" id="cmdname" class="mediumtext">
                    </div>
                    <div>
                        <label>Post/Grad: </label>
                        <select name="cmdpg">
                            <option value="0"></option>
                            <option value="Cel">Cel</option>
                            <option value="Tc">Tc</option>
                            <option value="Maj">Maj</option>
                            <option value="Cap">Cap</option>
                            <option value="1º Ten">1º Ten</option>
                            <option value="2º Ten">2º Ten</option>                                    
                        </select>
                    </div>
                </div>                                         
            </div>
            <hr>
            <div>
                <label for="file" class="button_file">Anexar Mapa</label>
                <input type="file" id="file" name="file" value="" required>
                <span id="filename"></span required>
                
            </div>
            <div class="area_send">
                <input type="submit" value="Termo de Referência" id="TR" class="button_disable">
                <input type="submit" value="Certificado de Adoção" id="CA" class="button_disable">
                <input type="submit" value="Analise Crítica" id="AC" class="button_disable">
                <input type="submit" value="Formalização da Demanda" id="DFD" class="button_disable">
                <input type="submit" value="Gerenciamento de Risco" disabled id="GR" class="button_disable">              
                <input type="submit" value="Diex Req" id="DR" class="button_disable">
                <!--<button class="button" id="acpp">Análise Crítica da Pesquisa de Preços</button>                
                <button class="button" id="dxreq">Diex Requisitório</button>                       
                <button class="button" id="tr">Termo de Referência</button>-->                                    
            </div>
        </form>        
    </div>
    <script async src="/js/document_maker/assetsForm.js"></script>
</div>