<div class="mainwindow">
    <div class="content_window">
        {{#if errors}}
        {{#each errors}}
        <div class="error_message"><p>{{text}}</p></div>
        <br>
        {{/each}}        
        {{else}}
        {{/if}}
        <h2>Novo Processo</h2>        
        <hr>
        <form method="POST" action="/novoprocesso/cadastro">
            <div>
                <label>Nome:</label>
                <input type="text" class="mediumtext" name="object" required>                
            </div>
            <div>
                <label>Nup:</label>
                <input type="text" class="mediumtext" name="nup" required>
            </div>
            <div id="origindiv">
                <label>Origem:</label>
                <!--<select name="origin">
                    <option value="Armamento Pesado">Armamento Pesado</option>
                    <option value="Armamento Leve">Armamento Leve</option>
                    <option value="Correaria">Correaria</option>
                    <option value="STS">STS</option>
                    <option value="Linha de Blindados">Linha de Blindados</option>
                    <option value="Comunicações">Comunicações</option>
                    <option value="Óptica">Óptica</option>
                    <option value="Pelotão de Obras">Pelotão de Obras</option>
                    <option value="Almoxerifado">Almoxerifado</option>
                    <option value="Suprimento">Suprimento</option>
                    <option value="Informática">Informática</option>
                    <option value="Posto Médico">Posto Médico</option>
                    <option value="Divisão de Inovação, Planejamento e Qualidade"> Divisão de Inovação, Planejamento e Qualidade</option>
                    <option value="Divisão Industrial">Divisão Industrial</option>
                    <option value="Compania de Comando e Serviço">Compania de Comando e Serviço</option>
                </select>-->
            </div>
            <div>
                <label>Forma de Aquisição:</label>                
                <select name="category">
                    <option value=""></option>
                    <option value="Licitação">Licitação</option>
                    <option value="Dispensa">Dispensa de Licitação</option>
                    <option value="Inexigibilidade">Inexigibilidade</option>
                    <option value="Carona">Carona</option>
                </select>
                <small>(opcional)</small>
            </div>
            <div class="flexorientation--start">
                <label>Descrição:</label>
                <textarea class="param_text_description" name="description"></textarea>
                <small>(opicional)</small>
            </div>
            <input type="submit" value="Criar" class="button">
        </form>            
    </div>
</div>
<script type="module" src="/js/document_reader/createProcess.js"></script>
