<div class="mainwindow">
    <div class="content_window">
        <h2>Meus Processos</h2>
        <hr>
        {{#each documents}}
        <p>{{name}}</p>
        {{/each}}        
    </div>    
     
</div>