<div class="mainwindow">
    <div class="content_window">
        <div>
            <h2>Processos Recebidos</h2>                      
        </div>
        <hr>
        <form name="formp" id="formp">
            <label>Ano:</label>
            <select name="year" id="year">
                <option value=""></option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>                    
            </select>
        </form>              
        <div id="list" class="list">           
        </div>        
    </div>
</div>

<script src="/js/document_reader/readerProcessInTransfer.js"></script>



