<div class="leftbar">
    <div class="lb_scroll">
        <div class="leftbar_itens" id="newmessage">
            <a href="/mensageiro/nova"><p>Nova Mensagem</p></a> 
        </div> 
        <div class="leftbar_itens" id="messagebox">
            <a href="/mensageiro/caixadeentrada"><p>Caixa de Menssagens</p></a> 
        </div>
        <div class="leftbar_itens" id="messagesents">
            <a href="/mensageiro/enviadas"><p>Mensagens Enviadas</p></a> 
        </div>
        <div class="leftbar_itens" id="newprocess">
            <a href="/novoprocesso"><p>Cadastrar Processo</p></a>          
        </div>
        <div class="leftbar_itens" id="developmentprocess">
            <a href="/meusprocessos"><p>Processos em Elaboração</p></a> 
        </div>
        <div class="leftbar_itens" id="processreceived">
            <a href="/processosrecebidos"><p>Processos Recebidos</p></a>
        </div>
        {{#if (compareValue section 'Chefe da SALC')}}        
        <div class="leftbar_itens" id="processreceived">
            <a href="/concluidos"><p>Processos Concluídos</p></a>
        </div>
        {{/if}}       
        <!--<div class="leftbar_itens" id="processmaker">
            <a href="/novoprocesso/montagemdeprocesso"><p>Modelo a partir de Mapa Comparativo</p></a>
        </div>-->
        <div class="leftbar_itens" id="processmanager">
            <a href="/acompanharprocessos"><p>Acompanhar Processos</p></a>
        </div>        
        {{#if (admin level 10)}}
        <div class="leftbar_itens" id="register">
            <a href="/register"><p>Registro</p></a>
        </div>
        <div class="leftbar_itens" id="updateuser">
            <a href="/updateuser"><p>Alterar Usuário</p></a>
        </div>
        <div class="leftbar_itens" id="deleteuser">
            <a href="/deleteuser"><p>Apagar Usuário</p></a>
        </div>
        {{/if}}             
    </div>
</div>
<script type="module" src="/js/leftBar/leftBarSelected.js"></script>

     